@page
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Dotnet Minimal Sample</h1>
  <p>A sample of getting .NET 8 ASP.NET app running, using the new minimal hosting model...
    <br>
    ...with EntraID sign-in &amp; Graph API support
  </p>
  <img src="~/img/nice.gif">
</div>
